.auth-page.login 
    .auth-card 
        .auth-card__title
            span Вход
        .auth-card__fields 
            include ../../components/text-field/index
            +textField('Логин')
            +textField('Пароль', 'password')
        .auth-card__actions
            button.btn.btn_block.btn_success.btn_bold.btn__login Авторизоваться
            .additional 
                a(href="#" id="no-account-link") Нет аккаунта?
                
