.chat-messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: end;
  align-items: flex-end;

  .message {
    position: relative;
    margin: 2px;
    padding: 10px;
    padding-bottom: 20px;
    width: max-content;
    border-radius: 10px;
    justify-self: center;
    background-color: #cecece;

    &__time {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: grey;
    }
  }
}
