.sidebar
    a(href="#", id="logout") Выйти 
    .sidebar__header
        .sidebar__header-menu 
            .img-container 
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz8giDTG5tei2jTQR1U9GODZF8LLv3uNtJjA&usqp=CAU", alt="burger-menu")
        .sidebar__header-search
            | !{input}
    hr
    .sidebar__content 
        | !{chatListItem}
.chat-window 
    | !{chatActions}
