.chat-list-item__logo
    img(src=logo, alt="chat-list-item-logo")
.chat-list-item__info 
    .header
        .title.bold
            span= title
        .time
            span= lastMessage.time
    .content
        span= lastMessage.text