.auth-page 
    .auth-card 
        .auth-card__title
            span Регистрация
        .auth-card__fields 
            include ../components/text-field
            +textField('Почта', 'email')
            +textField('Логин')
            +textField('Имя')
            +textField('Фамилия', 'tel')
            +textField('Телефон')
            +textField('Пароль', 'password')
            +textField('Пароль (еще раз)', 'password')
        .auth-card__actions
            button.btn.block.success.bold Зарегистрироваться
            .additional 
                a(href="/registration") Уже есть аккаунт?
            